{{link-to 'New Entry' 'entries.new'}}
<div class="list-group">
  {{#each entry in controller}}
    <a {{action 'decrypteEntry' entry}}class="list-group-item">
      <span class="label {{if entry.decrypted 'label-info' 'label-success'}}">
        {{if entry.decrypted "Decrypted" "Encrypted"}}</span> 
      {{!-- Close span above for whitespace fun --}}
      {{entry.content}}
    </a>
  {{/each}}
</div>
