<div class="header-container container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      {{link-to 'Indelible' 'index' class='navbar-brand'}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#if session.isLoggedIn}}
            {{link-to 'logout' 'user.logout'}}
          {{else}}
            {{link-to 'sign in' 'user.login'}}
          {{/if}}
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  {{outlet}}
</div>
