<div class="header-container container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      {{link-to 'Indelible' 'index' class='navbar-brand'}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          {{#if session.isLoggedIn}}
        <li>
            {{link-to 'logout' 'user.logout'}}
        </li>
          {{else}}
        <li>
            {{link-to 'log in' 'user.login'}}
        </li>
        <li>
            {{link-to 'register' 'user.register'}}
        </li>
          {{/if}}
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  {{outlet}}
</div>
