<h1>Log in</h1>
<form {{action 'login' on='submit'}}>
  <label for="username">username</label>
  {{input id="username" name="username" value=model.username}}
  <br/>
  {{#each error in errors.username}}
    {{error.message}}
  {{/each}}
  <br/>

  <label for="password">password</label>
  {{!-- TODO: Make an input area partial to handle error reporting automatically. --}}
  {{input id="password" name="password" value=model.password type="password"}}
  <br/>
  {{#each error in errors.password}}
    {{error.message}}
  {{/each}}
  <br/>
  {{input type="submit" value="login"}}
</form>
